.body{
    display: flex;
    align-items:center;
    justify-content: center;
}
.card{
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: rgb(238, 238, 238);
}
.login{
    font-weight: lighter;
    font-size: larger;
    font-style: initial;
    margin: 20px 0px 20px 0px;
    align-items: center;
    text-align: center;
}
.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-bottom: 1px solid pink;
    height: 46px;
    cursor: pointer;
}
.signinG{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-bottom: 1px solid pink;
    height: 46px;
    cursor: pointer;;
    background-color: rgb(238, 238, 238);
}
.sign-container{
    display: flex;
    width: 100%;
}
.auth-container{
    background-color: white;
    width: 400px;
     
}
.field{
    border: 1px solid rgb(217, 216, 216);
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin: 6px 0px;
    outline: none;
    padding: 2px 6px;
}
.input-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 40px 0px;
    padding: 6px 16px 20px 16px;
}
.in-button{
    background-color: rgb(244, 133, 152);
    border: none;
    color: white;
    height: 40px;
    width: 94%;
    font-size: medium;
    border-radius: 5px;
    margin: 10px 0px 5px 0px;
    padding: 2px 6px;
    cursor: pointer;
}